---
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import { getCollection, CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const kijis = await getCollection("kiji");
  return kijis.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"kiji">;

const kiji = Astro.props;
const { title, pubDate, updatedDate, heroImage, description, sources } =
  kiji.data;
const { Content } = await kiji.render();
---

<ArticleLayout title={title} description={description} image={heroImage}>
  <div class="time-container">
    <time>
      {pubDate.toDateString()}
    </time>
  </div>
  <Content />
  {
    sources && (
      <div class="sources">
        {sources.map((source) => (
          <a href={source}>{source}</a>
        ))}
      </div>
    )
  }
</ArticleLayout>
