---
import type { CollectionEntry } from "astro:content";
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import FormatDate from "./FormatDate.astro";

type Props = CollectionEntry<"kiji"> & {
  title?: string;
  description?: string;
};

const kiji = Astro.props;

const {
  title: _title,
  description: _description,
  heroImage,
  sources,
} = kiji.data;
const { Content } = await kiji.render();
const title = kiji.title || _title;
const description = kiji.description || _description;
---

<ArticleLayout title={title} description={description} image={heroImage}>
  <div class="time-container">
    <FormatDate date={new Date(kiji.slug)} />
  </div>
  <Content />
  {
    sources && (
      <div class="sources">
        <ul>
          {sources.map((source) => (
            <li>
              <a href={source}>{source}</a>
            </li>
          ))}
        </ul>
      </div>
    )
  }
</ArticleLayout>
