---
import { getEntry, type CollectionEntry } from "astro:content";
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import FormatDate from "./FormatDate.astro";
import {
  filenameToDateString,
  getFirstParagraphMd,
  getTitleMd,
  languageFromFilename,
  readingTimeMd,
} from "@/util";
import { localizePath } from "astro-i18next";
import i18next, { t } from "i18next";

type Props = CollectionEntry<"kiji"> & {
  title?: string;
  description?: string;
};

const kiji = Astro.props;

let { heroImage, sources } = kiji.data;
const { Content } = await kiji.render();
const title = kiji.title || getTitleMd(kiji.body);
const description = kiji.description || getFirstParagraphMd(kiji.body);
const readingTime = readingTimeMd(kiji.body);

if (languageFromFilename(kiji.slug) !== "en") {
  // reference to the original (en) article for sources
  const originalKiji = await getEntry("kiji", filenameToDateString(kiji.slug));
  if (!originalKiji) {
    return;
  }
  sources = originalKiji.data.sources;
}

const indexPages = i18next.languages.map((lng) =>
  lng === "en" ? "/" : `/${lng}/`
);

if (indexPages.includes(Astro.url.pathname)) {
  heroImage = "/placeholder-social.png";
}
---

<ArticleLayout
  title={title}
  description={description}
  image={heroImage || `/og/${kiji.slug}.png`}
>
  <div class="time-container">
    <a href={localizePath("/archive")} aria-hidden>
      <FormatDate date={new Date(filenameToDateString(kiji.slug))} />
    </a>
  </div>
  <p>
    {readingTime + (readingTime > 1 ? " minutes read" : " minute read")}
  </p>
  <Content />
  {
    sources && (
      <div class="sources">
        <ul>
          {sources.map((source, index) => (
            <li>
              <a
                href={source}
                aria-label={`${t("common.source")} ${index + 1}`}
              >
                {source}
              </a>
            </li>
          ))}
        </ul>
      </div>
    )
  }
</ArticleLayout>
