---
import type { CollectionEntry } from "astro:content";
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import FormatDate from "./FormatDate.astro";
import {
  filenameToDateString,
  getFirstParagraphMd,
  getTitleMd,
  readingTimeMd,
} from "@/util";
import { localizePath } from "astro-i18next";
import { t } from "i18next";

type Props = CollectionEntry<"kiji"> & {
  title?: string;
  description?: string;
};

const kiji = Astro.props;

const { heroImage, sources } = kiji.data;
const { Content } = await kiji.render();
const title = kiji.title || getTitleMd(kiji.body);
const description = kiji.description || getFirstParagraphMd(kiji.body);
const readingTime = readingTimeMd(kiji.body);
---

<ArticleLayout title={title} description={description} image={heroImage}>
  <div class="time-container">
    <a href={localizePath("/archive")} aria-label={t("footer.archive-aria")}>
      <FormatDate date={new Date(filenameToDateString(kiji.slug))} />
    </a>
  </div>
  <p>
    {readingTime + (readingTime > 1 ? " minutes read" : " minute read")}
  </p>
  <Content />
  {
    sources && (
      <div class="sources">
        <ul>
          {sources.map((source, index) => (
            <li>
              <a
                href={source}
                aria-label={`${t("common.source")} ${index + 1}`}
              >
                {source}
              </a>
            </li>
          ))}
        </ul>
      </div>
    )
  }
</ArticleLayout>
