---
import type { CollectionEntry } from "astro:content";
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import FormatDate from "./FormatDate.astro";
import { getFirstParagraphMd, getTitleMd } from "@/util/markdown";

type Props = CollectionEntry<"kiji"> & {
  title?: string;
  description?: string;
};

const kiji = Astro.props;

const { heroImage, sources } = kiji.data;
const { Content } = await kiji.render();
const title = kiji.title || getTitleMd(kiji.body);
const description = kiji.description || getFirstParagraphMd(kiji.body);
---

<ArticleLayout title={title} description={description} image={heroImage}>
  <div class="time-container">
    <FormatDate date={new Date(kiji.slug)} />
  </div>
  <Content />
  {
    sources && (
      <div class="sources">
        <ul>
          {sources.map((source, index) => (
            <li>
              <a href={source} aria-label={`Source ${index + 1}`}>
                {source}
              </a>
            </li>
          ))}
        </ul>
      </div>
    )
  }
</ArticleLayout>
