---
import type { CollectionEntry } from "astro:content";
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import FormatDate from "./FormatDate.astro";

type Props = CollectionEntry<"kiji">;

const kiji = Astro.props;

const { title, description, heroImage, pubDate, sources } = kiji.data;
const { Content } = await kiji.render();
---

<ArticleLayout title={title} description={description} image={heroImage}>
  <div class="time-container">
    <FormatDate date={pubDate} />
  </div>
  <Content />
  {
    sources && (
      <div class="sources">
        {sources.map((source) => (
          <a href={source}>{source}</a>
        ))}
      </div>
    )
  }
</ArticleLayout>
